@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Presentation/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to this test app.</p>
    <p><a href="/bank/accounts/">View all accounts</a></p>

</div>